.main_content_box
  .content_image
    =image_tag "https://via.placeholder.com/250x150",alt:"content-image"
  .content_inside
    .content_date
      %p 1998年11月22日

    .content_title
      %h2 筋肉をつけながら痩せる方法

    .content_description
      %p そんな楽に筋肉をつけながら痩せる方法などない他 