%header
  .title-name
    =image_tag "shogo-logo", size:"100x135",alt:"title-logo"
    %h1 わたしはゴリラになりたい
  
  %nav
    %ul
      %li

      %li 
        =link_to 'TOP','#'
      %li 
        =link_to '筋トレ論','#'
      %li 
        =link_to '世界の筋肉飯','#'
      %li 
        =link_to '海外筋トレ情報','#'
      %li 
        =link_to '海外旅行情報','#'
      %li 
        =link_to '雑記','#'
      %li